{% extends 'layouts/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

  {% include "includes/navigation-light.html" %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="w-25">
          <h3>Projects</h3>
          <nav aria-label="breadcrumb">
            <form method="get">
              {{ search_form|crispy }}
              <input class="btn btn-success" type="submit" value="Search">
            </form>
          </nav>
        </div>

        <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
          <div class="container border-bottom">
            <div class="row py-3">
              <div class="col-lg-4 text-start">
                <p class="lead text-dark pt-1 mb-0">Every Projects</p>
              </div>
              <div class="col-lg-4 mt-1 text-center">
                <span class="badge bg-light text-dark"><i class="fas fa-lock me-1" aria-hidden="true"></i>PROJECTS</span>
              </div>
              {% if user.is_staff %}
                <div class="col-lg-4 text-end my-auto">
                  <a href="{% url 'task:project-create' %}?next={{ request.path }}" class="text-primary icon-move-right">Create a new PROJECT
                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                  </a>
                </div>
              {% endif %}
            </div>
          </div>
          <div>
            {#     Projects Table     #}
            <div class="card">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">ID</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">Name</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">Description</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">Deadline</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">Tasks</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder">Teams</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder" style="width: 1%">Edit</th>
                      <th class="text-center text-uppercase text-primary text-xxs font-weight-bolder" style="width: 1%">Delete</th>
                  </thead>
                  <tbody>
                    {% for project in project_list %}
                    <tr>
                      <td class="align-middle">
                        <p class="text-center text-dark mb-0">{{ forloop.counter }}</p>
                      </td>
                      <td class="align-middle">
                        <p class="text-center text-dark mb-0">
                          <a href="{% url 'task:project-detail' pk=project.id %}">
                            {{ project.name }}
                          </a>
                        </p>
                      </td>
                      <td class="align-middle">
                        <p class="text-center text-dark mb-0">
                          <button type="button"
                                  class="text-dark btn-sm p-0"
                                  data-bs-toggle="modal"
                                  data-bs-target="#descModal{{ project.id }}">
                            View info
                          </button>
                        </p>

                        <div class="modal fade" id="descModal{{ project.id }}" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Project: {{ project.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body text-start">
                                {{ project.description|linebreaks }}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <p class="text-center text-dark mb-0">{{ project.deadline }}</p>
                      </td>
                      <td class="align-middle">
                        <p class="text-center text-dark mb-0">
                          <button type="button"
                                  class="text-dark btn-sm p-0"
                                  data-bs-toggle="modal"
                                  data-bs-target="#tasksModal{{ project.id }}">
                            View tasks
                          </button>
                        </p>

                        <div class="modal fade" id="tasksModal{{ project.id }}" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Tasks for: {{ project.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body text-start">
                                <ul class="list-group list-group-flush">
                                  {% for task in project.tasks.all %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center ps-0 text-dark">
                                      <a class="text-primary" href="{% url 'task:task-detail' pk=task.pk %}">{{ task.name }}</a>
                                      <span class="badge {% if task.is_completed %}bg-success{% else %}bg-warning{% endif %}">
                                        {{ task.is_completed|yesno:"Done,In Progress" }}
                                      </span>
                                    </li>
                                  {% empty %}
                                    <li class="list-group-item ps-0">No tasks assigned to this project.</li>
                                  {% endfor %}
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    <td class="align-middle">
                        <p class="text-center text-dark mb-0">
                          <button type="button"
                                  class="text-dark btn-sm p-0"
                                  data-bs-toggle="modal"
                                  data-bs-target="#teamsModal{{ project.id }}">
                            View teams
                          </button>
                        </p>

                        <div class="modal fade" id="teamsModal{{ project.id }}" tabindex="-1" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Teams: {{ project.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body text-start">
                                <ul class="list-group list-group-flush">
                                  {% for team in project.teams.all %}
                                    <li class="list-group-item ps-0 text-dark">
                                      <a class="text-primary" href="{% url 'task:team-detail' pk=team.pk %}">{{ team.name }}</a>
                                    </li>
                                  {% empty %}
                                    <li class="list-group-item ps-0">No teams working on this project.</li>
                                  {% endfor %}
                                </ul>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td class="align-middle text-center" style="width: 1%; white-space: nowrap;">
                        <a class="btn btn-sm btn-primary mb-0" href="{% url 'task:project-update' pk=project.pk %}?next={{ request.path }}">Edit</a>
                      </td>
                      <td class="align-middle text-center" style="width: 1%; white-space: nowrap;">
                        <a class="btn btn-sm btn-danger mb-0" href="{% url 'task:project-delete' pk=project.pk %}?next={{ request.path }}">Delete</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% include "includes/pagination.html" %}
              </div>
            </div>
          </div>
        </div>

{% endblock content %}
