{% extends 'layouts/base.html' %}

{% block title %} Author {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} blog-author bg-gray-100 {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-light.html" %}

  <section class="pt-20 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row pt-lg-7 pt-5 pb-0">

            <div class="col-lg-2 position-relative ">
              <img class="img border-radius-lg max-width-200 w-100 position-relative z-index-2" src="{{ ASSETS_ROOT }}/img/bruce-mars.jpg">
            </div>
            <div class="col-lg-5 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <h4 class="mb-0">{{ worker.first_name }} {{ worker.last_name }}</h4>
              <div class="d-block">
                <button type="button" class="btn btn-sm btn-outline-info text-nowrap mb-0">Follow</button>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-auto">
                <span class="h6">{{ worker.projects.count }}</span>
                <span>Projects</span>
              </div>
              <div class="col-auto">
                <span class="h6">{{ worker.tasks.count }}</span>
                <span>Tasks</span>
              </div>
              <div class="col-auto">
                <span class="h6">{{ worker.teams.count }}</span>
                <span>Teams</span>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 text-dark">
                Hi! I am {{ worker.first_name }}, working as
                {% with position=worker.position.name|lower %}
                  {% if position.0 in "aeiou" %}an{% else %}a{% endif %}
                {% endwith %}
                {{ worker.position }}. <br>
                I’m passionate about streamlining workflows <br>
                and contributing to the team's overall success through <br>
                dedication and effective task management. <br>
              </p>
            </div>
          </div>

          </div>

        <div class="card blur shadow-blur border-radius-lg p-3">
        <div class="row">

          <div class="col-md-4 mb-md-0 mb-4">
            <div class="info-horizontal border-radius-xl p-3 shadow-sm hover-shadow-lg transition-all h-100">
              <div class="d-flex align-items-start w-100">
                <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md flex-shrink-0">
                  <i class="fas fa-project-diagram opacity-10"></i>
                </div>
                <div class="description ps-3 flex-grow-1" style="min-width: 0;">
                  <h5 class="font-weight-bolder mb-1">My Projects</h5>
                  <div class="custom-scroll pe-2" style="max-height: 100px; overflow-y: auto; width: 100%;">
                    {% if worker.projects %}
                      {% for project in worker.projects %}
                        <p class="text-sm mb-0 text-secondary border-bottom border-light py-1">
                          <span class="text-dark font-weight-bold">{{ forloop.counter }}.</span>
                          <a href="{% url 'task:project-detail' pk=project.id %}">
                            {{ project }}
                          </a>
                        </p>
                      {% endfor %}
                      {% else %}
                        <p class="text-sm mb-0 text-danger border-bottom border-light py-1">No current projects</p><br>
                        <a href="{% url 'task:project-list' %}?next={{ request.path }}" class="text-primary icon-move-right">View all projects
                          <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-md-0 mb-4">
            <div class="info-horizontal border-radius-xl p-3 shadow-sm hover-shadow-lg transition-all h-100">
              <div class="d-flex align-items-start w-100">
                <div class="icon icon-shape bg-gradient-success shadow text-center border-radius-md flex-shrink-0">
                  <i class="fas fa-tasks opacity-10"></i>
                </div>
                <div class="description ps-3 flex-grow-1" style="min-width: 0;">
                  <h5 class="font-weight-bolder mb-1">My Tasks</h5>
                  <div class="custom-scroll pe-2" style="max-height: 100px; overflow-y: auto; width: 100%;">
                    {% if worker.tasks.exists %}
                      {% for task in worker.tasks.all %}
                        <p class="text-sm mb-0 text-secondary border-bottom border-light py-1">
                          <span class="text-dark font-weight-bold">{{ forloop.counter }}.</span>
                          <a href="{% url 'task:task-detail' pk=task.id %}">
                            {{ task.name }}
                          </a>
                        </p>
                      {% endfor %}
                      {% else %}
                        <p class="text-sm mb-0 text-danger border-bottom border-light py-1">No current tasks</p><br>
                        <a href="{% url 'task:task-list' %}?next={{ request.path }}" class="text-primary icon-move-right">View all tasks
                          <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="info-horizontal border-radius-xl p-3 shadow-sm hover-shadow-lg transition-all h-100">
              <div class="d-flex align-items-start w-100">
                <div class="icon icon-shape bg-gradient-warning shadow text-center border-radius-md flex-shrink-0">
                  <i class="fas fa-users opacity-10"></i>
                </div>
                <div class="description ps-3 flex-grow-1" style="min-width: 0;">
                  <h5 class="font-weight-bolder mb-1">My Teams</h5>
                  <div class="custom-scroll pe-2" style="max-height: 100px; overflow-y: auto; width: 100%;">
                    {% if worker.teams.exists %}
                      {% for team in worker.teams.all %}
                        <p class="text-sm mb-0 text-secondary border-bottom border-light py-1">
                          <span class="text-dark font-weight-bold">{{ forloop.counter }}.</span>
                          <a href="{% url 'task:team-detail' pk=team.id %}">
                            {{ team }}
                          </a>
                        </p>
                      {% endfor %}
                      {% else %}
                        <p class="text-sm mb-0 text-danger border-bottom border-light py-1">No current teams</p><br>
                        <a href="{% url 'task:team-list' %}?next={{ request.path }}" class="text-primary icon-move-right">View all teams
                          <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="{{ ASSETS_ROOT }}/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
